
.product-card {
  border: 1px solid var(--border-color);
  /* border: 1px solid #ddd; */
  padding: 16px;
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: var(--box-shadow);
}

.product-image {
  width: 100%;
  height: 200px;
  padding: 20px 10px;
  object-fit: contain;
  margin-bottom: 12px;
  background-color: var(--bg-color);
  /* background-color: snow; */
  transition: transform 0.5s ease;
}

.product-image:hover {
  transform: scale(1.08);
}

.product-title {
  font-size: 1.1rem;
  margin-bottom: 0px;
  height: 48px;
  overflow: hidden;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-rating {
  display: flex;
  align-items: center;
}

.product-rating p {
  margin-left: 8px;
  font-size: 0.9rem;
  /* color: var(--text-color); */
  color: #888;
}

.cart-button {
  margin-top: 12px;
  padding: 10px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.cart-button:hover {
  background-color: #218838;
}